@mixin absolute($t, $r, $b, $l) {
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@font-face {
  font-family: Foxhole-Regular;
  src: url(/dist/fonts/Foxhole-Regular.otf);
}

@font-face {
  font-family: SanFranciscoDisplay-Heavy;
  src: url(/dist/fonts/SanFranciscoDisplay-Heavy.otf);
}
@font-face {
  font-family: SanFranciscoDisplay-Light;
  src: url(/dist/fonts/SanFranciscoDisplay-Light.otf);
}
@font-face {
  font-family: SanFranciscoDisplay-Regular;
  src: url(/dist/fonts/SanFranciscoDisplay-Regular.otf);
}
@font-face {
  font-family: SanFranciscoDisplay-Ultralight;
  src: url(/dist/fonts/SanFranciscoDisplay-Ultralight.otf);
}
@font-face {
  font-family: SanFranciscoText-Heavy;
  src: url(/dist/fonts/SanFranciscoText-Heavy.otf);
}
@font-face {
  font-family: SanFranciscoText-Light;
  src: url(/dist/fonts/SanFranciscoText-Light.otf);
}
@font-face {
  font-family: SanFranciscoText-LightItalic;
  src: url(/dist/fonts/SanFranciscoText-LightItalic.otf);
}
@font-face {
  font-family: SanFranciscoText-Medium;
  src: url(/dist/fonts/SanFranciscoText-Medium.otf);
}
@font-face {
  font-family: SanFranciscoText-Regular;
  src: url(/dist/fonts/SanFranciscoText-Regular.otf);
}
@font-face {
  font-family: SanFranciscoText-RegularItalic;
  src: url(/dist/fonts/SanFranciscoText-RegularItalic.otf);
}


